<div class="sidebar">
    <button class="btn" mat-button routerLink="/home">
        <div class="sidebar_list">
            <mat-icon>home</mat-icon>
            <p class="sidebar_text">home</p>
        </div>
    </button>

    <button class="btn" mat-button routerLink="/client">
        <div class="sidebar_list">
            <mat-icon>person</mat-icon>
            <p class="sidebar_text">Clientes</p>
        </div>
    </button>

    <button class="btn" mat-button routerLink="/storage">
        <div class="sidebar_list">
            <mat-icon>backup_table</mat-icon>
            <p class="sidebar_text">Inventario</p>
        </div>
    </button>

    <button class="btn" mat-button routerLink="/setting">
        <div class="sidebar_list">
            <mat-icon>settings</mat-icon>
            <p class="sidebar_text">Arreglos</p>
        </div>
    </button>
</div>